{% extends 'index.html' %}
{% load static %}

{% block post %}
    <section class="blog_area single-post-area all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-list">
                    {% for game in gamemodel_list %}
                        <div class="game">
                            <div class="gam tournament-logo">
                                <a href="{% url 'tournament_detail' pk=game.tournament.pk %}">
                                    <img class="img-tournament-logo" src="{{ game.tournament.logo.url }}" alt="">
                                </a>
                            </div>
                            <div class="gam comand1-name">
                                <a href="{% url 'comand_detail' pk=game.comand1.pk %}">
                                    <span class="span-game">{{ game.comand1 }}</span>
                                </a>
                            </div>
                            <div class="gam comand1-logo">
                                <a href="{% url 'comand_detail' pk=game.comand1.pk %}">
                                    <img class="img-comand1-logo" src="{{ game.comand1.logo.url }}" alt="" width="55px" height="55px">
                                </a>
                            </div>
                            <div class="gam coefficient1">
                                <span class="span-game">{{ game.coefficient1 }}</span>

                            </div>
                            <div class="gam date-game">
                                <span class="span-game">{{ game.date }}</span>
                            </div>
                            <div class="gam coefficient2">
                                <span class="span-game">{{ game.coefficient2 }}</span>
                            </div>
                            <div class="gam comand2-logo">
                                <a href="{% url 'comand_detail' pk=game.comand2.pk %}">
                                    <img class="img-comand2-logo" src="{{ game.comand2.logo.url }}" alt="" width="55px" height="55px">
                                </a>
                            </div>
                            <div class="gam comand2-name">
                                <a href="{% url 'comand_detail' pk=game.comand2.pk %}">
                                    <span class="span-game">{{ game.comand2 }}</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </section>
{% endblock post %}