{% extends 'index.html' %}
{% load static %}

{% block post %}
    <section class="blog_area single-post-area all_post section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{ postmodel.image.url}}" alt="">
                        </div>
                        <div class="blog_details">
                            <h2>{{ postmodel.title }}
                            </h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><i class="far fa-comments"></i>{{ postmodel.comments.count }} Comments</li>
                            </ul>
                            <p class="excert">
                                {{ postmodel.discription|linebreaks }}
                            </p>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>{{ postmodel.comments.count }} Comments</h4>
                        {% for comment in postmodel.comments.all %}
                            {% if comment.publick == True %}
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="desc">
                                            <p class="comment">
                                                {{ comment.text}}
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">{{ comment.author }}</a>
                                                    </h5>
                                                    <p class="date">{{ comment.date_create}} </p>
                                                </div>
                                                <div class="reply-btn">
                                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% if user.is_authenticated %}
                    <div class="comment-form">
                        <form action="{% url 'add_comment' postmodel.id %}" method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
{#                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"#}
{#                                        placeholder="Write Comment"></textarea>#}
                                        {{ form.text }}
                                    </div>
                                </div>
                            </div>
                            <div class="load_btn">
                                <button type="submit">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </section>
{% endblock post %}